/* 初始化所有样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}

img {
    width: 100%;
}

:root {
    --primary-color: #ff434f;
    --secondary-color: #e3e3e3;
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark: #494949;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.7);
}

/* 栅格布局 */
header {
    width: 100vw;
    height: 80px;
    display: grid;
    padding: 0 40px;

    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

header nav{
    justify-self: end;

}

header nav i {
    color: var(--text-color-lightest);
}

header nav a{
    color: var(--text-color-lightest);
    text-decoration: none;
    margin: 0 24px;
}

header .burger {
    display: none;
}



